{
  "Name": "{{ item.name }}",
  "URL": "{{ item.url }}:{{ item.port }}",
  "Authentication": {{ item.auth | default('false')}},
  "Type": {{ item.type | default(3)}},
  "Username": "{{ item.username }}",
  "Password": "{{ item.password }}"
}
